<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="path_to_your_icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <title>Landing Page</title>
</head>

<body>

    <header class="d-flex text-white pt-4 pb-1 flex-column justify-content-around align-items-center">
        <h1 class="m-5" id="headh1"><b>Diska Hotel</b></h1>
        <div class="nav w-100 d-flex flex-row justify-content-around align-items-center">
            <div class="max-content"><a href="{{ url_for('home') }}">
                    <h3 class="btn btn-lg btn-outline-light" id="navh3">About</h3>
                </a></div>
            <div class="max-content"><a href="{{ url_for('room') }}">
                    <h3 class="btn btn-lg btn-outline-light" id="navh3">Room</h3>
                </a></div>
            <div class="max-content"><a href="{{ url_for('facility') }}">
                    <h3 class="btn btn-lg btn-outline-light" id="navh3">Facility</h3>
                </a></div>
            <div class="max-content"><a href="{{ url_for('book') }}">
                    <h3 class="btn btn-lg btn-outline-light" id="navh3">Book Now</h3>
                </a></div>
        </div>
    </header>

    <main class="bg-secondary p-5 text-white main">
        <div class="d-flex justify-content-center w-100">
            <h2 >Remaining Room</h2>
        </div>

        <div class="remaining d-flex justify-content-around align-items-center flex-row">
        </div>
        <div class="booked bg-danger pt-5 mt-5 text-white d-flex justify-content-center align-items-center w-100 flex-column">
            <h1 class="m-4">your room order</h1>
            <table class=" p-5 form">
                <tr>
                    <td>
                        <div class="mb-3">
                            <h3>name</h3>
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            <h3>:{{name}}</h3>
                        </div>
                    </td>
                <tr>
                    <td>
                        <div class="mb-3">
                            <h3>Phone Number</h3>
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            <h3>:{{phone}}</h3>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mb-3 orang d-flex align-items-center">
                            <img src="https://cdn-icons-png.flaticon.com/128/1077/1077012.png"
                                style="width: 50px; height: 50px; margin-right: 10px;">
                            <h3>People</h3>
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            <h3>:{{people}}</h3>
                        </div>
                    </td>


                <tr>
                    <td colspan="4">
                        <div class="mb-3">
                            <p class="border border-white p-5">{{message}}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mb-3 pb-5 bookroom justify-content-around bg-danger pt-5 text-white">
            <div class="cbookroom border border-white p-4">
                <div class="atas"><img src="{{ url_for('static',filename='a1.jpg') }}"></div>
                <div class="bawah p-3 d-flex justify-content-center flex-column align-items-center">
                    <label for="regularnight">
                        <h1>Regular Room</h1>
                    </label>
                    <h2><b>{{regularnight}}</b>/Night</h2>
                    <h2><b>{{regularroom}}</b>/Room</h2>
                </div>
            </div>
            <!--2-->
            <div class="cbookroom border border-white p-4">
                <div class="atas"><img src="{{ url_for('static',filename='b1.jpg') }}"></div>
                <div class="bawah p-3 d-flex justify-content-center flex-column align-items-center">
                    <label for="diskanight">
                        <h1>Diska Room</h1>
                    </label>
                    <h2><b>{{diskanight}}</b>/Night</h2>
                    <h2><b>{{diskaroom}}</b>/Room</h2>
                </div>
            </div>
            <!--3-->
            <div class="cbookroom border border-white p-4">
                <div class="atas"><img src="{{ url_for('static',filename='c1.jpg') }}"></div>
                <div class="bawah p-3 d-flex justify-content-center flex-column align-items-center">
                    <label for="specialnight">
                        <h1>Special Room</h1>
                    </label>
                    <h2><b>{{specialnight}}</b>/Night</h2>
                    <h2><b>{{specialroom}}</b>/Room</h2>
                </div>
            </div>
        </div>

    </main>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/tampil',
                data: {},
                success: function (response) {
                    var room = response['room']
                    for (let i = 0; i < room.length; i++) {
                        let regular = room[i]['regular'];
                        let diska = room[i]['diska'];
                        let special = room[i]['special'];
                        let isi = `<div class="remainingchild d-flex align-items-center justify-content-center flex-column">
                            <img src="{{ url_for('static',filename='a1.jpg') }}">
                            <h3 class="mt-2">Regular Room</h3>
                            <p class="bg-danger p-2">Remaining <b>${regular}</b> room</p>
                        </div>
                        <div class="remainingchild d-flex align-items-center justify-content-center flex-column">
                            <img src="{{ url_for('static',filename='b1.jpg') }}">
                            <h3 class="mt-2">Diska Room</h3>
                            <p class="bg-danger p-2">Remaining <b>${diska}</b> room</p>
                        </div>
                        <div class="remainingchild d-flex align-items-center justify-content-center flex-column">
                            <img src="{{ url_for('static',filename='c1.jpg') }}">
                            <h3 class="mt-2">Special Room</h3>
                            <p class="bg-danger p-2">Remaining <b>${special}</b> room</p>
                        </div>`;
                        $(".remaining").append(isi);
                    }
                }
            })
        })
    </script>
</body>

</html>